<html>
  <head>
    <title>Nabaztag Hack Kit</title>
  </head>
  <body>
    <h1>Welcome to Nabaztag Hack Kit</h1>

    Hurray, your server is successful running! Now point your bunny to this url and you're ready to go!

    Check the <a href="https://github.com/rngtng/NabaztagHackKit">Docs</a> how to integrate...

    <h2>Playground</h2>

    <form action="/commands" method="post">
      <select name="bunny">
        <option value="*">All</option>
        <% bunnies.each do |sn, time| %>
          <option><%= sn %></option>
        <% end %>
      </select>

      <select name="command">
        <% commands.each do |cmd, value| %>
          <option value="<%= value %>"><%= cmd %></option>
        <% end %>
      </select>

      <input name="values">

      <input type="submit">
    </form>

    <h2>Pipe</h2>
    <%= cmds.inspect %>

    <h2>Connected Bunnies</h2>
    <table>
      <tr><th>Serial No</th><th>Last seen</th></tr>
      <% bunnies.each do |sn, time| %>
        <tr><td><%= sn %></td><td><%= distance_of_time(time) %> ago</td></tr>
      <% end %>
  </body>
</html>

